.main {
  min-height: 100vh;
	background-image: url(../../assets/images/star_wars_background.jpeg);
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
						font-family: StarWarsFont;
	text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}